---
layout: page
title: "About"
description: "Hey, this is Handsen."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，做做设计，看看产品。
        世界那么大，多玩玩多看看。
    </blockquote>
    
    1.五年多的Objective-C编程经验，覆盖PC端、App端，熟悉Flutter并有实践开发经验；<br />
    2.具有团队管理经验，跟后台沟通接口的编写，原型与UI设计讨论、研发、测试以及上线，包括跟运营沟通都有参与；<br />
    3.热衷iOS与软件开发工作，在五年多的工作经验中，通过自身努力使自己具备了可以独立分析和解决问题的能力；<br />
    4.掌握MVC、MVVM等架构模式，使用过RAC框架，常用的第三方有AFNetworking、SDWebImage、FMDB、<br />
    Masonry、Cocoapods等，熟悉iOS逆向开发和反Hook防护，开发过多个iOS SDK Framework库；<br />
    5.擅长优化App，热衷算法，喜欢抽象，封装，代码风格极简，喜欢注释，用代码块高效开发。<br />
    6.在工作之余，学习IM、直播、H5、React Native跨平台等方向开发。<br />

    <p style="text-align:right;">
        —— <a href="https://www.jianshu.com/p/3609e9a1910c"> 一份精心策划的开源项目清单【超级全面】 </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
