---
layout: default
title: "About Me"
description: "Once a dream is put into action, it becomes a god."
header-img: "images/about-bg.jpg"
---

<!-- Page Header -->
{% include intro-header.html type='page' short=false %}


<div class="container">
    <!-- Language Selector -->
    <select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
        <option value="0" selected> 中文 Chinese </option>
        <option value="1"> 英语 English </option>
    </select>

    <!-- Chinese Version -->
    <div class="zh post-container">
        <blockquote>
            业精于勤荒于嬉，行成于思毁于随。
        </blockquote>
        
        <div align="center">
            <img class="aboutme-avatar" src="https://chenxing640.github.io/images/avatar.jpg" alt="avatar" />
            <div align="center">移动应用开发工程师</div>
        </div>
        
        <p>
            在这里记录我的开发笔记、心路历程等等。
        </p>
        
        <h4>推荐的仓库：</h4>
        <p style="text-align:left;">
            <ul>
                <li>
                    <a href="https://github.com/chenxing640/WeChat_tweak">WeChat_tweak</a>
                     - ♨️iOS版功能最全的微信插件，支持最新版微信，具备自动抢红包，屏蔽消息和群消息，过滤特定的群聊，防止撤回消息，伪定位 (朋友圈和附近的人)，修改微信运动步数和实时取景做聊天页的背景等功能。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/Awesome">Awesome</a>
                     - ♨️提供iOS精选列表，包含Objective-C和Swift项目，涉及鸿蒙开发、Flutter、React Native、Weex、H5、小程序、区块链、数据库、游戏开发等教程。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFStore">DYFStore</a>
                     - A lightweight and easy-to-use iOS library for In-App Purchases (Swift).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFStoreKit">DYFStoreKit</a>
                     - A lightweight and easy-to-use iOS library for In-App Purchases (Objective-C).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/Unity-iOS-InAppPurchase">Unity-iOS-InAppPurchase</a>
                     - Unity实现苹果iOS的应用内购买。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFSwiftKeychain">DYFSwiftKeychain</a>
                     - This library is used to store text and data in Keychain securely for iOS, OS X, tvOS and watchOS. (Swift).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFKeychain">DYFKeychain</a>
                     - This library is used to store text and data in Keychain securely for iOS, OS X, tvOS and watchOS. (Objective-C).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/CXDownload">CXDownload</a>
                     - 实现Swift断点续传下载，支持Objective-C。包含大文件下载，后台下载，杀死进程，重新启动时继续下载，设置下载并发数，监听网络改变等。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/CXSwiftKit">CXSwiftKit</a>
                     - 提供Swift丰富的扩展和实用工具类，并大多数支持Objective-C。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFSwiftRuntimeProvider">DYFSwiftRuntimeProvider</a>
                     - 对`Runtime`进行了包装，可快速使用字典转模型、归档解档、添加一个方法、交换两个方法、获取类的所有属性名和方法名。(Swift)
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFRuntimeProvider">DYFRuntimeProvider</a>
                     - 对`Runtime`进行了包装，可快速使用字典转模型、归档解档、添加一个方法、交换两个方法、获取类的所有属性名和方法名。(Objective-C)
                </li>
                <li>
                    <a href="https://github.com/chenxing640/dart_crypto">dart_crypto</a>
                     - [Flutter] 本项目基于flutter_macos_v0.5.8-dev版本采用Dart语言开发。`DYFCryptoProvider`集成了Base64, 32/16 Bits MD5, AES, RSA等算法。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/grab_ethtoken_info">grab_ethtoken_info</a>
                     - [Flutter] 从以太坊区块链 (Ethereum Blockchain) etherscan 上抓取任意一个钱包地址的所有token信息 (Address, Name, Balance, Symbol, Value)，并编写界面进行展示。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/QPlayer">QPlayer</a>
                     - 编写这款播放器的目的是将下载好的电影、电视剧和动漫等视频同步到这款APP里观看，节省移动数据流量和避开其他限制。重构了此项目，采用MVP设计模式，提高APP性能，适配APP深浅模式等，使浏览体验更好。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFAuthIDAndGestureLock">DYFAuthIDAndGestureLock</a>
                     - 手势密码解锁和 TouchID (指纹) / FaceID(面容) 解锁，代码简洁高效。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFCodeScanner">DYFCodeScanner</a>
                     - 一个简单的二维码和条码扫描器，有一套自定义的扫描动画以及界面，支持相机缩放，还可以生成和识别二维码。
                </li>                
                <li>
                    <a href="https://github.com/chenxing640/DYFCryptoUtils">DYFCryptoUtils</a>
                     - 一行代码实现 iOS Base64, 32/16位 MD5, DES, AES, RSA 算法，操作简单好用。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/Script">Script</a>
                     - 编写iOS自动化打包脚本，编写和收集 Shell, Python, Ruby 等一些实用脚本。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFAssistiveTouchView">DYFAssistiveTouchView</a>
                     - 在iOS应用内的悬浮按钮和工具条。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFProgressView">DYFProgressView</a>
                     - 超好用的进度条和网页进度条，操作简单好用。
                </li>
                <li>
                    <a href="https://github.com/chenxing640/GYNFoundation">GYNFoundation</a>
                     - [Swift] GYNFoundation provides a foundataion framework, including HTTP network request, data statistics, foundataion classes, extensions, loading animation, and so on.
                </li>
            </ul>
        </p>

    </div>

    <!-- English Version -->
    <div class="en post-container">
        <blockquote>
            Diligent in study, wasted in play.
        </blockquote>

        <div align="center">
            <img class="aboutme-avatar" src="https://chenxing640.github.io/images/avatar.jpg" alt="avatar" />
            <div align="center">A software development engineer from China</div>
        </div>

        <p>
            Here I record my development notes, journey of my heart and so on.
        </p>

        <h4>Recommended Repos: </h4>
        <p style="text-align:left;">
            <ul>
                <li>
                    <a href="https://github.com/chenxing640/WeChat_tweak">WeChat_tweak</a>
                     - ♨️The most functional WeChat plug-in of iOS, it supports the latest version of WeChat.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/Awesome">Awesome</a>
                     - ♨️Provides a curated list of awesome iOS, including Objective-C and Swift Projects, covering tutorials on HarmonyOS development, Flutter, React Native, Weex, H5, mini programs, blockchain, databases, game development, and more.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFStore">DYFStore</a>
                     - A lightweight and easy-to-use iOS library for In-App Purchases (Swift).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFStoreKit">DYFStoreKit</a>
                     - A lightweight and easy-to-use iOS library for In-App Purchases (Objective-C).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/Unity-iOS-InAppPurchase">Unity-iOS-InAppPurchase</a>
                     - Unity implements Apple's in-app purchases for iOS.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFSwiftKeychain">DYFSwiftKeychain</a>
                     - This library is used to store text and data in Keychain securely for iOS, OS X, tvOS and watchOS. (Swift).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFKeychain">DYFKeychain</a>
                     - This library is used to store text and data in Keychain securely for iOS, OS X, tvOS and watchOS. (Objective-C).
                </li>
                <li>
                    <a href="https://github.com/chenxing640/CXDownload">CXDownload</a>
                     - Realization of breakpoint transmission download with Swift, support Objective-C. Including large file download, background download, killing the process, continuing to download when restarting, setting the number of concurrent downloads, monitoring network changes and so on.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/CXSwiftKit">CXSwiftKit</a>
                     - Provides the utilities and rich extensions of Swift language, and most of them supported Objective-C.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFSwiftRuntimeProvider">DYFSwiftRuntimeProvider</a>
                     - DYFSwiftRuntimeProvider wraps the runtime, and can quickly use for the transformation of the dictionary and model, archiving and unarchiving, adding a method, exchanging two methods, replacing a method, and getting all the variable names, property names and method names of a class. (Swift)
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFRuntimeProvider">DYFRuntimeProvider</a>
                     - DYFRuntimeProvider wraps the runtime, and can quickly use for the transformation of the dictionary and model, archiving and unarchiving, adding a method, exchanging two methods, replacing a method, and getting all the variable names, property names and method names of a class. (Objective-C)
                </li>
                <li>
                    <a href="https://github.com/chenxing640/dart_crypto">dart_crypto</a>
                     - This Flutter project is developed in Dart language based on flutter_macos_v0.5.8-dev. `DYFCryptoProvider` integrates Base64, 32/16 Bits MD5, AES and RSA algorithms.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/grab_ethtoken_info">grab_ethtoken_info</a>
                     - [Flutter] Grabs all token information (Address, Name, Balance, Symbol, Value) of any wallet address from Etherscan of Ethereum blockchain, and write the interface for display.

                </li>
                <li>
                    <a href="https://github.com/chenxing640/QPlayer">QPlayer</a>
                     - The purpose of writing this player is to synchronize downloaded movies, TV dramas, anime and other videos to this app for viewing, saving mobile data traffic and avoiding other restrictions. This project has been restructured using the MVP design pattern to improve app performance, adapt to light and dark modes of the app, and enhance the browsing experience.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFAuthIDAndGestureLock">DYFAuthIDAndGestureLock</a>
                     - Gesture passcode unlocking and TouchID (fingerprint) / FaceID (facial features) unlocking, its code is concise and efficient.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFCodeScanner">DYFCodeScanner</a>
                     - A simple QR code and barcode scanner, which has a set of custom scanning animation and interface, supports camera zooming, and can generate and identify QR code.
                </li>                
                <li>
                    <a href="https://github.com/chenxing640/DYFCryptoUtils">DYFCryptoUtils</a>
                     - Achieves Base64, 32/16 bit MD5, DES, AES and RSA algorithms for iOS with one line of code, the operation is simple and easy to use.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/Script">Script</a>
                     - Writes automated packaging scripts for iOS, writes and collects some useful scripts about Shell, Python, Ruby, etc.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFAssistiveTouchView">DYFAssistiveTouchView</a>
                     - The suspension button and toolbar for iOS in app.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/DYFProgressView">DYFProgressView</a>
                     - Super useful progress bar and web page progress bar, the operation is simple and easy to use.
                </li>
                <li>
                    <a href="https://github.com/chenxing640/GYNFoundation">GYNFoundation</a>
                     - [Swift] GYNFoundation provides a foundataion framework, including HTTP network request, data statistics, foundataion classes, extensions, loading animation, and so on.
                </li>
            </ul>
        </p>

    </div>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "hansenblog" %}
        data-thread-id="1187685120451-85319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
